/* body {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

header img {
  width: 60%;
  display: block;
  margin: 3rem auto 0
}

header h1 {
  font-size: 4rem;
  text-align: center;
}

header nav ul li {
    flex: auto;
} */
body {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #222;
}

img {
  width: 100%;
  display: block;
}
