div {
  height: 250px;
}

.hola {
  width: 500px;
  background-color: aqua;
}

.adios {
  width: 50%;
  background-color: red;
}

.hastaLuego {
  /* tamaño de la ventana disponible */
  /* util para diseño responsive que cambie segun la pantalla del dispositivo */
  width: 50vw;
  background-color: blueviolet;
}

h1 {
  font-size: 3vw;
}

img {
  display: block;
  width: 100%;
}

ul li img {
  height: 250px;
  /*se ajusta a las medidas automaticamente
    cover: si es necesario recorta */
  object-fit: cover;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 1fr = espacio disponible / 3 */
  list-style: none;
}

ul li {
  padding: 18px;
  height: 250px;
  /* ocultar lo que desborda */
  overflow: hidden;
  /* overflow: scroll; */
}

/* el problema del hidden es que el texto no aparece 
  para solucionar esto se pone */

ul li .texto {
  background-color: rgba(127, 255, 212, 0.5);
  transition: 0.5s;
  padding: 18px;
  position: relative;
}

ul li:hover .texto {
  margin-top: -127px;
}

@media (max-width: 1200px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  ul {
    grid-template-columns: 1fr;
  }
}
