/SOFTWARE
/.vscode
/Tema 2 - tarea 01.pdf
Tema3/Tema 3 - tarea 01/Documentos necesarios/concierto-fondo.avif
Tema3/Tema 3 - tarea 01/Documentos necesarios/dorian.jpg
Tema3/Tema 3 - tarea 01/Documentos necesarios/melendi.jpg
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-facebook-hover.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-facebook.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-instagram-hover.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-instagram.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-logo.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-tiktok-hover.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-tiktok.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-twitter-hover.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/musicall-twitter.png
Tema3/Tema 3 - tarea 01/Documentos necesarios/nathy-peluso.jpg
Tema3/Tema 3 - tarea 01/Documentos necesarios/tarea-01.jpg
Tema3/Tema 3 - tarea 01/Documentos necesarios/wicked.jpg
.gitignore
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/index.html
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/footer.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/global.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/header.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/menu-superior.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/portada.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/reset.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/section-agenda.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/section-general.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/section-novedades.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/section-recomendados.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/css/styles.css
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/concierto-fondo.avif
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/dorian.jpg
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/melendi.jpg
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-facebook-hover.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-facebook.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-instagram-hover.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-instagram.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-logo.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-tiktok-hover.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-tiktok.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-twitter-hover.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/musicall-twitter.png
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/nathy-peluso.jpg
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/tarea-01.jpg
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1/assets/images/wicked.jpg
Tema3/Tema 3 - tarea 01/Rodrigo Sanchez Martinez LMSGI tarea 3.1.rar
.gitignore
Tema3/Tema 3 - tarea 01/tarea 3.1/cosas.txt
