ul li section.novedades {
    margin-right: 48px;
}

section.novedades article {
    margin-bottom: 2rem;
}

section.novedades article h3 {
    font-size: 26px;
}

section.novedades article:last-of-type {
    margin-bottom: 0;
    /* para que no sobre tanto espacio al final */
}