form {
  padding: 2rem;
}

form label {
  display: block;
  margin-bottom: 1.5rem;
}

form label input,
form label textarea,
form label select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #096654;
  margin-top: 0.25rem;
}

form fieldset label input[type="checkbox"] {
  width: auto;
}

fieldset {
  border: 1px solid #096654;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

form fieldset legend {
  padding: 0 0.5rem;
}

form fieldset label:last-of-type {
  margin-bottom: 0;
}

form label textarea {
  height: 200px;
}

form input[type="reset"],
form input[type="submit"] {
  padding: 0.5rem 1.5rem;
  color: white;
  transition: 0.45s;
}

form input[type="reset"] {
  background-color: #8c1163;
  border: 1px solid #8c1163;
}

form input[type="reset"]:hover {
  color: #8c1163;
  background-color: white;
}

form input[type="submit"] {
  background-color: #096654;
  border: 1px solid #096654;
}

form input[type="submit"]:hover {
  color: #096654;
  background-color: white;
}
