body {
  background-color: black;
}

body * {
  padding: 20px;
  margin: 20px;
}

section {
  color: aqua;
}

article {
  height: 20vh;
}

.uno {
  background-color: blueviolet;
}

.dos {
  background-color: brown;
}

.tres {
  background-color: chocolate;
}

.cuatro {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
